---
layout: home
---

<section class="jumbotron jumbotron-fluid mb-4">
  <div class="container">
    <!-- <h1 class="display-4">Creating* <strong>Apps</strong> that "just work"</h1> -->
    <h1 class="display-4">I cook <strong>Apps</strong> that can be eaten<strong>*</strong></h1>
    <p class="lead">I have <strong>"Collective Experience"</strong> in developing world class apps for <strong>Web, iOS and Android</strong> platforms with proven technology stack with a reasonable budget and deadline.</p>
    <hr class="my-4">
    <!-- <p>* We don't just develop or design. We input our creative ideas to make your product stand out of the crowd.</p> -->
    <p>* More often than not, rotten apps cannot be eaten</p>
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">What else we do?</a> -->
  </div>
</section>
<section class="mb-3">
  <div class="container">
    <div class="mb-3">I am</div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-zetmel-z h-100">
          <div class="card-body">
            <h5 class="card-title">Attractive,</h5>
            <p class="card-text">Beautiful design, smooth user experience and straightforward user interface should invite users to your app.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-zetmel-e h-100">
          <div class="card-body">
            <h5 class="card-title">Efficient,</h5>
            <p class="card-text">Of course you can't and shouldn't sacrifice performance over great features. Prefer to have both.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-zetmel-t h-100">
          <div class="card-body">
            <h5 class="card-title">and Reliable</h5>
            <p class="card-text">Software is a long term commitment, make sure yours is built on solid standards and best engineering principles.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-4">
  <div class="container">
    <small>
      {% assign replace_code = ".replace('I', 'We')" %}
      I want to change from "I" to "We" with the code: <code>{{ replace_code }}</code> <br>
      + a <strong>great team</strong> who share my dream and values and identify the possible issue with the above code :-)
    </small>
    <blockquote style="display: none;">
      Find a good boss to work <strong>with</strong>, not a good company to work <strong>for</strong> - Jack Ma
    </blockquote>
  </div>
</section>

 <section class="mb-3 reviews-wrapper pt-4 pb-3">
     <div class="container">
        <!-- <div class="mb-3">Our clients say</div> -->
        {% assign clients_reviews = site.reviews | where: "type", "client" %}
        {% assign friends_reviews = site.reviews | where: "type", "friend" %}

        <div class="mb-3">What my clients say at <!-- <a href="https://www.upwork.com/freelancers/~01a4c4f6d0d586426f" target="_blank"><strong> -->UpWork<!-- </strong></a> --></div>
        {% include reviews.html keys=site.reviews_order type="client" rating=true %}

        <hr class="mb-4">
        <!-- <div class=""></div> -->

        <div class="mb-3">How my friends reacted when I shared <a href="https://safrazik.github.io/resume/" target="_blank"><strong>My Resume</strong></a> for inspiration on Facebook:</div>
        {% include reviews.html keys=site.comments_order type="friend" rating=false %}
     </div>
      {% include stars.svg %}
</section>
<section class="mb-3 pt-2">
   <!-- <div class="jumbotron jumbotron-fluid"> -->
     <div class="container text-center">
       <!-- <h1 class="display-4">Contact</h1> -->
       <p class="lead"><a href="mailto:safrazik@zetmel.com">safrazik@zetmel.com</a></p>

       <p>
         <small>Copyright &copy; 2019 Zetmel - All Rights Reserved.<br>Photo by Artboard Studio</small>
       </p>
     </div>
   <!-- </div> -->
</section>