<div class="card-columns">
  {% for key in include.keys %}
  {% assign review = site.reviews | where: "type", include.type | where: "key", key | first %}
<!-- <div class="xrow {% cycle '', 'xjustify-content-end' %}"> -->
    <!-- <div class="xcol-md-6 mb-3"> -->
      <div class="card review-block card-body pb-0">      

        <h6 class="card-title">

          {% if include.rating %}
          <div class="float-right rating-stars">
            <svg class="icon">
              <use xlink:href="#stars-{{ review.stars }}-0-star">
            </svg>  
          </div>
          {% else %}
          <div class="float-right rating-like" style="width: 20px; height: 20px;">
            {% if review.reaction == "love" %}
              <img style="width: 100%;" src="assets/reaction-love.png">
              {% else %}
              <img style="width: 100%;" src="assets/reaction-like.png">
            {% endif %}
          </div>
          {% endif %}

          {{ review.name }}

          {% if review.type == "client" %}
          <small class="text-muted">{{ review.at }}</small>
          {% endif %}
        </h6>

        {% if review.description %}
        <div style="margin-top: -0.75rem; margin-bottom: 0.75rem;">
          <small class="text-muted">
            {{ review.description }}
          </small>
        </div>
        {% endif %}
        <div class="card-text mb-0">{{ review.content }}</div>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

<!--               <h3>{{ review.name }} <small>{{ review.at }}</small></h3>
        <div class="rating clearfix">
            <svg class="icon">
              <use xlink:href="#stars-{{ review.stars }}-0-star">
            </svg>
        </div> -->
        <!-- <p>{{ review.content }}</p> -->
      <!-- </div> -->
    <!-- </div> -->
</div>
  {% endfor %}
</div>