<!DOCTYPE html>
<html>

{% include head.html %}

<body class="brand-expanded on-top">

<header class="main-header">
	<div class="container">
    <a class="brand-link" href="{{ site.baseurl }}/">
      {% include brand.html %}
    </a>
    <div class="tagline" style="display: inline-block;">
      {{ site.tagline }}
      <a href="{{ site.baseurl }}/about/" class="tagline-link">
        a what?
      </a>
    </div>
</div>
</header>
 
<div class="main-content">
  <div class="container">
    {{ content }}
  </div>
</div>

</body>
</html>
